@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: landscape;
    margin: 1cm;
  }

  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  .print\:break-inside-avoid {
    break-inside: avoid;
  }

  .print\:page-break-before {
    page-break-before: always;
  }

  table {
    page-break-inside: auto;
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }

  thead {
    display: table-header-group;
  }

  tfoot {
    display: table-footer-group;
  }
}
